@import "tailwindcss";

/* Required for the 'prose' classes in your blog article */
@plugin "@tailwindcss/typography";

@theme {
    --animate-fade-up: fadeUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    --animate-fade-in: fadeIn 0.8s ease-out forwards;

    @keyframes fadeUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

body {
    background-color: var(--color-gray-50);
}